/*
    Reset ♥
    http://meyerweb.com/eric/tools/css/reset/
    v2.0 | 20110126
    License: none (public domain)
------------------------------------------------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  font-size:100%;
  font:inherit;
  vertical-align:baseline;
  }
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display:block;
  }
body { line-height:1; }
ol, ul { list-style:none;  }
blockquote, q { quotes:none; }
blockquote:before, blockquote:after,
q:before, q:after { content:''; content:none; }
/* tables still need 'cellspacing="0"' in the markup */
table { border-collapse: collapse; border-spacing:0; }
/* remember to define focus styles. Hee Haw */
:focus { outline:0; }

*, *:after, *:before {
  -webkit-box-sizing:border-box;
     -moz-box-sizing:border-box;
          box-sizing:border-box;
  }

/* --- site styling --- */

/* fonts */
@font-face {
  font-family: 'fontello';
  src: url('font/fontello.eot?73307663');
  src: url('font/fontello.eot?73307663#iefix') format('embedded-opentype'),
       url('font/fontello.woff?73307663') format('woff'),
       url('font/fontello.ttf?73307663') format('truetype'),
       url('font/fontello.svg?73307663#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* global */
html, body {
  height: 100%;
  }
body {
  font-family: 'Helvetica Neue', 'Helvetica', 'sans-serif';
  background-size:100%;
  margin:0;
  padding:0;
  font-size: 18px;
  color: rgba(0,0,0,0.9);
  }
a {
  color: rgba(0,0,0,0.9);
  text-decoration: none;
  font-weight:bold;
  }
p {
  line-height: 25px;
  padding-bottom: 25px;
  max-width: 900px;
}
h1 {
  font-size: 75px;
  letter-spacing:-4px;
  font-weight:bold;
  line-height: 65px;
  }
  h1 div {
    float: left;
    }
h2 {
  font-size: 50px;
  letter-spacing:-3px;
  font-weight:bold;
  padding: 0 0 20px 75px;
  margin: 0 -75px 30px -75px;
  border-bottom: 1px solid rgba(0,0,0,0.3);
  }
.light {
  opacity: 0.5;
  }
.small {
  font-size: 12px;
  }

/* buttons */
.button {
  height: 60px;
  line-height: 60px;
  padding:0 20px;
  text-align: center;
  border-radius: 10px;
  background-color: rgba(0,0,0,0.1);
  position: relative;
  top: -16px;
  }
  .button i {
    font-family: 'fontello';
    font-style: normal;
    font-weight: normal;
    speak: none;
    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;
    font-size: 30px;
    }
  .button l {
    font-size: 22px;
    font-weight: bold;
    padding-left: 10px;
    position:relative;
    top: -2px;
    }
.icon-download:before { content: '\e801'; } /* '' */
.icon-upload:before { content: '\e800'; } /* '' */

.action .button {
  float: left;
  margin-right: 20px;
}
.action .label {
  padding-top: 25px;
}

/* slide layout */
.slide  {
    width: 100%;
    height: 100%;
    border-top: 20px solid rgba(0,0,0,0.1);
    border-bottom: 20px solid rgba(0,0,0,0.1);
  }
  .slide .inner {
    padding: 30px 75px;
    }
  .footer {
    padding: 20px 75px 0px;
    height: 50px;
    position: relative;
    top: -70px;
    background-color: rgba(0,0,0,0.1);
    }
  /* slide colors */
  .slide.download { background-color: #f98; }    
  .slide.add      { background-color: #0fa; }
  .slide.coding   { background-color: #0ff; }
  .slide.about    { background-color: #f0f0e8; }
  .slide.cover {
    color: #ddd;
    background: url('addresses.jpg') repeat fixed center;
    text-shadow: 0px 0px 20px #000;
    padding-left: 0px;
    padding-right: 0px;
    }
    .slide.cover .inner {
      padding-top: 150px;
      border-bottom: 1px solid rgba(255,255,255,0.3);
      }
    #tagline {
      font-size: 21px;
      padding: 25px 0 0 25px;
      clear: left;
      }
  .slide .action {
    padding-top:16px;
  }

/* size specific */
@media only screen and (max-width:700px) {
  .slide .inner { padding-left: 25px; padding-right: 25px;}
  h1 { font-size: 60px; }
  h2 {
      margin-left: -25px;
      margin-right: -25px;
      padding-left: 25px;
      padding-right: 25px;
      }
  .footer { padding-left: 25px; padding-right: 25px; }
  p { clear: left; }
  }
